{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block body %}
<div id="wrapper">
    <div class="aside"></div>
    <div class="main_avtoriza">
        <div class="pole_avtoriza" id="auth-block"><br>
            <h1 class="name_avtoriza">Авторизация</h1><br>
            {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}" id='success-text'>{{msg}}</div><br>
            {% endfor %}
            <form action="/login" method="post" class="form_avtoriza">
                <input type="text" name="email" id="login" class="form-control" placeholder="Email"><br>
                <input type="password" name="pwd" id="pwd" class="form-control" placeholder="Пароль"><br>
                <input type="submit" class="btn-btn-success" value="Войти">
                <p><a href="{{url_for('register')}}" class="link_reg">Регистрация</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}