{% extends 'base.html' %}     <!-- Указываем, что наследуем все от шаблона 'base.html' -->

{% block title %}
Материалы сайта
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все материалы сайта</h1>
    <!-- C помощью синтаксиса Jinja проходимся по списку объекта articles и выводим записи из БД -->

    {% if articles|length > 0 %}        <!-- Проверяем, есть ли статьи на сайте. Если нет, то выводим сообщение об этом -->
        {% for el in articles %}
        <div class="alert alert-info" id="block">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p id="date_art"><b>Дата: {{ el.date.date() }}</b></p>
            <a href="/materials/{{ el.id }}" class="btn btn-warning">Подробнее</a>
        </div>
        {% endfor %}
    {% else %}
    <p>У нас пока что нет записей!</p>
    {% endif %}
</div>
{% endblock %}