{% extends 'base.html' %}

{% block title %}
{{ article[1] }}
{% endblock %}

{% block body %}
<div id="wrapper">
    <div class="aside"></div>
    <div class="main">
        <div class="container mt-5">
            <h1 class="name_stat">{{ article[1] }}</h1><br>
            <div class="alert-alert-info" id="block">
                <p class="text_materials"><pre>{{ article[3] }}</pre></p><br>
                <p><b>Дата: {{ article[4] }}</b></p>
                <p><b>Автор: {{ article[5] }}</b></p>
                <a href="/materials/{{ article.id }}/delete" class="btn-change">Удалить запись</a>
                <a href="/materials/{{ article.id }}/update" class="btn-change">Редактировать</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}